<form (ngSubmit)="submitHandler(form)" #form="ngForm">
    <div id="user-data">
        <div class="form-group">
            <label for="num">Number</label>
            <input type="text" id="num" class="form-control" name="num" [(ngModel)]="data" required>
        </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Submit</button>
</form>
<div class="container row" *ngIf="a.length>0" style = "width:20%;">
    <table class="table table-hover table-bordered">
        <tbody>
            <tr *ngFor="let i of a">
                <td>{{i}}</td>
            </tr>
        </tbody>
    </table>
</div>